<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>whisk_access_token</key>
	<string>9MuYZ2UQ9bLPxw7qjzAsaBvfXHyexvO5Fi6iPemJvPoUA9f415nRNhClEfTy7moe</string>
	<key>whisk_access_key</key>
	<string>0f4acfd7-5717-4315-aefe-729d654209e3</string>
</dict>
</plist>
